<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="Clock" value="false"/>
    <add key="Fullscreen" value="false"/>
    <add key="Banner" value="false"/>
    <add key="NotImplemented1" value="false"/>
    <add key="DarkMode" value="false"/>
    <add key="NotImplemented2" value="false"/>
  </appSettings>

   </configuration>